<div class="container">
  <h1>Welcome to {{title}}</h1>
  <div class="wrapper">
    <form #form="ngForm" (ngSubmit)="onSubmit()" class="form-group">

      <label for="username">GitHub Username:</label>
      <input type="text" class="form-control" 
      minlength="3" 
      required
      name="username" 
      [(ngModel)]='username' 
      #gitUsername='ngModel'>

      <div [hidden]='username.length === 0'>
        <p *ngIf=username.invalid class="errors">Invalid Username</p>
      </div>
      <br>

      <button type="submit" class="btn btn-link" [disabled]="!form.form.valid">Calculate GitHub score</button>
    </form>
  </div>
  <div *ngIf="score" class="score" >
    <h1>
      Your score: {{score}}
    </h1>
    <h3 class="red" *ngIf="score <= 20">Needs Work!</h3>
    <h3 class="orange" *ngIf="score >= 20 && score < 50">A Decent Start!</h3>
    <h3 class="black" *ngIf="score >= 50 && score < 100"> Doing Good!</h3>
    <h3 class="green" *ngIf="score >= 100 && score < 200">Great Job!</h3>
    <h3 class="blue" *ngIf="score >= 200">GitHub Elite!</h3>
  </div>
  <!-- <div *ngIf="username === false">
    <h3>User '{{ username }}' does not exist, choose a different github username.</h3>
  </div> -->